.pokemon {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 16px;
  width: 200px;
  height: 240px;
  background: rgba($color: #0004ff, $alpha: 0.5);

  border: 2px solid rgba($color: #0044ff, $alpha: 0.8);
  border-radius: 8px;

  img {
    height: 80px;
    background-color: rgba($color: #ff0000, $alpha: 0.3);
    object-fit: cover;
    border: 2px solid black;
    border-radius: 4px;
  }
}

.pokemons {
  display: flex;
  gap: 24px;
}
